{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista kroków</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Czas przygotowania</th>
                <th>Kolejność</th>
                <th>Opis</th>
                <th>Czas gotowania</th>
                <th>Operacje</th>
            </tr>
        </thead>
        <tbody>
        {% for recipeStep in recipeSteps %}
            <tr>
                <td><a href="{{ path('recipestep_show', { 'id': recipeStep.id }) }}">{{ recipeStep.id }}</a></td>
                <td>{{ recipeStep.prepTime }}</td>
                <td>{{ recipeStep.number }}</td>
                <td>{{ recipeStep.instructions }}</td>
                <td>{{ recipeStep.cookTime }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('recipestep_show', { 'id': recipeStep.id }) }}">Pokaż</a>
                        </li>
                        <li>
                            <a href="{{ path('recipestep_edit', { 'id': recipeStep.id }) }}">Edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# 
    <ul>
        <li>
            <a href="{{ path('recipestep_new') }}">Create a new recipeStep</a>
        </li>
    </ul> 
    #}
{% endblock %}
