{% extends 'base.html.twig' %}

{% block body %}
    <h1>Krok</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recipeStep.id }}</td>
            </tr>
            <tr>
                <th>Czas przygotowania</th>
                <td>{{ recipeStep.prepTime }}</td>
            </tr>
            <tr>
                <th>Kolejność</th>
                <td>{{ recipeStep.number }}</td>
            </tr>
            <tr>
                <th>Opis</th>
                <td>{{ recipeStep.instructions }}</td>
            </tr>
            <tr>
                <th>Czas gotowania</th>
                <td>{{ recipeStep.cookTime }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('recipestep_index') }}">Powrót do listy</a>
        </li>
        <li>
            <a href="{{ path('recipestep_edit', { 'id': recipeStep.id }) }}">Edytuj</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
