{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ingredienttypes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ingredientType in ingredientTypes %}
            <tr>
                <td><a href="{{ path('ingredienttype_show', { 'id': ingredientType.id }) }}">{{ ingredientType.id }}</a></td>
                <td>{{ ingredientType.type }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ingredienttype_show', { 'id': ingredientType.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ingredienttype_edit', { 'id': ingredientType.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ingredienttype_new') }}">Create a new ingredientType</a>
        </li>
    </ul>
{% endblock %}
