{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edycja przepisu</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class='btn btn-warning' type="submit" value="Edytuj" />
    {{ form_end(edit_form) }}

    <ul class='list-unstyled'>
        <li>
            <a href="{{ path('recipe_index') }}">Powrót do listy</a>
        </li>
        <li>
            <a href="{{ path('recipestep_new', { 'recipe': recipe.id }) }}">Dodaj krok</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class='btn btn-danger' type="submit" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
