{% extends 'base.html.twig' %}

{% block body %}
    <h1>Przepis</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recipe.id }}</td>
            </tr>
            <tr>
                <th>Nazwa</th>
                <td>{{ recipe.name }}</td>
            </tr>
            <tr>
                <th>Opis</th>
                <td>{{ recipe.description }}</td>
            </tr>
            <tr>
                <th>Icon</th>
                <td>{{ recipe.icon }}</td>
                <img height=32 width=32 src="{{ asset('uploads/img/') }}{{recipe.icon}}" class="gallery-thumb">
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('recipe_index') }}">Powrót do listy</a>
        </li>
        <li>
            <a href="{{ path('recipe_edit', { 'id': recipe.id }) }}">Edytuj</a>
        </li>
        <li>
            <a href="{{ path('recipestep_new', { 'recipe': recipe.id }) }}">Dodaj krok</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            {# TODO usuwanie wszystkich kroków #}
                <input type="submit" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
