{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ingredientstepjoin</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ingredientStepJoin.id }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ ingredientStepJoin.amount }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ingredientstepjoin_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ingredientstepjoin_edit', { 'id': ingredientStepJoin.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
